@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

/*
.container {
  background: url('../../assets/images/Countdown-Banner.jpeg') top center / cover no-repeat;
}
*/
.container {
  background-image: url('../../assets/images/Countdown-Banner.jpeg');
  height: 409px;
  width: calc(100% / 2);
  background-repeat: no-repeat;
  background-size: cover;
}

.containerTimer {
  @include flex_box_custom(center, center, 10px);
}

.title {
  color: $four_color;
  font-size: 28px;
  margin-bottom: 5px;
  text-align: center;
}

.boxBtn {
  margin-top: 20px;
  text-align: center;
}
